.img-handle{
    height: 150px;
}

.card{
    background-color: beige;
    padding: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    
}

.btn{
    width: 100%;
    height: 30px;
    background-color: lightblue;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover{
    background-color: orange;
}

@media only screen and (max-width:668px){
   
    .card{
        background-color: beige;
        padding: 10px;
        border: 2px solid lightgray;
        border-radius: 10px;
    }

    .btn{
        width: 200px;
        height: 30px;
        background-color: lightblue;
        border: none;
        font-weight: bold;
        border-radius: 5px;
    }
    
}