.img-des{
    height: 50px;
    
}

.img-container{
    display: flex;
    align-items: center;
}

.card-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.div-container{
    padding-top: 50px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.intro{
    display: flex;
    align-items: center;
}

.myself-img{
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.intro-container{
    padding-top: 10px;
    padding-left: 50px;
}

