.img-des{
    height: 50px;
    
}

.img-container{
    display: flex;
    align-items: center;
}

.card-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.div-container{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.intro{
    display: flex;
    align-items: center;
}

.myself-img{
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.intro-container{
    padding-top: 10px;
    padding-left: 50px;
    
}

.about-me{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}

.about-div{
    margin-right: 15px;
}

.about-span{
    font-size: 1.5rem;
    font-weight: bold;
}

.break{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
}

.break p{
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

.break p:hover{
    background-color: blueviolet;
    color: white;
}

.detail{
   background-color: aliceblue;
   padding: 30px 15px;
   border-radius: 10px;
   margin-bottom: 10px;
}

.time{
    margin-right: 80px;
    font-weight: bold;
}

.cmplt-div{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cmplt{
    background-color: blueviolet;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.question-container{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

@media only screen and (max-width:668px) {
    
    
    .card-container{
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
    }

    .div-container{
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
    }

    .intro-container{
        padding-top: 0px;
        padding-left: 0px;
        order: 1;
    }

    .card-container1{
        order: 2;
    }

    .detail{
        background-color: aliceblue;
        padding: 15px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
     }
    
     .time{
        margin-right: 80px;
        font-weight: bold;
    }

    .break p{
        margin-right: 5px;
        border-radius: 50%;
        background-color: white;
        padding: 10px;
    }

    .question-container{
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media only screen and (min-width:669px) and (max-width:850px){
    .card-container{
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }

    .div-container{
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
    }
}